@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-image-editor/styles/material.css";

.App {
  text-align: center; /* Center aligning the content horizontally */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.content {
  margin-top: 20px;
  text-align: -webkit-center;
  display: flex;
}

.player-wrapper {
  position: relative;
}

.react-player {
  top: 0;
  left: 0;
}

.Chart {
  display: flex;
  margin-left: 40%;
  margin-top: 20px;
}

.flex1 {
  flex: 1;
}

.Empty-graph-container {
  width: 800px;
  height: 700px;
  border: solid 3px darkgrey;
  background-color: aliceblue;
  text-align: center;
  border-radius: 15px;
}

.imageEditorContainer {
  width: 50%;
  margin: 20px;
}
